.fotter{
    background-color: rgb(233, 231, 231);
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    width:100%;
    text-align: center;
    color: rgb(97, 97, 97);
}

.highlight{
    color:rgb(62, 129, 0);
}